/* Variables */

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --Lightbox-background: hsla(0, 0%, 0%, 75%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* layout */
body {
  position: relative;
  max-width: 65em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  font-family: "Kumbh Sans";
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  border-bottom: 0.1em solid var(--Light-grayish-blue);
  height: 89px;

  @media (min-width: 36em) {
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo {
  font-weight: 900;
  font-size: 2em;
}

/* Navigation */

.menu-btn {
  background-color: transparent;

  @media (min-width: 36em) {
    display: none;
  }
}

.menu-btn[aria-pressed="true"] {
  display: none;
}

.main-navigation {
  display: none;
  @media (min-width: 36em) {
    height: 100%;
    display: flex;
  }
}

.main-navigation ul {
  list-style: none;
  @media (min-width: 36em) {
    gap: 1em;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    display: flex;
    li {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}

.list-menu-item a {
  display: flex;
  align-items: center;
  height: 100%;
  &:hover {
    border-bottom: 0.2em var(--Orange) solid;
  }
}

.close-menu-btn {
  display: none;
}

nav.main-navigation.expanded {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .close-menu-btn {
    display: flex;
    background-color: transparent;
  }
}

/* Avatar */

.avatar-container {
  width: 4em;
  height: 4em;
}

.avatar-container:hover {
  border: 0.2em var(--Orange) solid;
  border-radius: 50%;
  cursor: pointer;
}

.avatar-img {
  width: 100%;
  height: 100%;
}

header :last-child {
  display: flex;
  gap: 1em;
  align-items: center;
}

.cart-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

/* Main */
main {
  display: grid;
  gap: 1em;
  @media (min-width: 35em) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    padding: 2em;
  }
}

/* Image Section */

.product-img-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img-container {
  width: 100%;
}
.product-img-container img {
  width: 100%;
  height: auto;

  @media (min-width: 35em) {
    border-radius: 0.75em;
  }
}

.product-nav-icon {
  background-color: white;
  padding: 0.75em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;

  @media (min-width: 35em) {
    display: none;
  }
}

.product-nav-icon img {
  height: 0.75em;
  width: 0.75em;
}

#icon-previous {
  margin-inline-end: -3em;
}
#icon-next {
  margin-inline-start: -3em;
}

/* Album  */

/* Info Section */

.product-info-section {
  min-height: 100vh;
  padding-inline: 2em;
  display:flex;
  flex-direction: column;
  gap: 1em;
}

.company-name {
  color: var(--Dark-grayish-blue);
  font-size: 1em;
  text-transform: uppercase;
}

.product-info-title {
  font-size: 2em;
  font-weight: 700;
}

.product-info-desc {
  color: var(--Grayish-blue);
  font-weight: 700;
}

.price-section, .price-section .right-col {
  display: flex;
  align-items: center;
justify-content: space-between;
column-gap: 1em;
}

.off-tag {
  font-weight: 900;
  color: white;
  background-color: black;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.original-price{
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
  font-weight: 900;
  font-size: 1.2em;
}

/* Counter */
.product-count-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--Light-grayish-blue);
  border-radius: 0.75em;
}

/* Purchase Button */
.purchase-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  padding: 1.5em;
  background-color: var(--Orange);
  border-radius: 0.75em;
  color: var(--Very-dark-blue);
  font-size: 1em;
  font-weight: bold;
}
